/*
|--------------------------------------------------------------------------
| backgrounds
|--------------------------------------------------------------------------
*/
$atom-backgroundWhite:									#ffffff;
$atom-backgroundBlack:									#080808;
$atom-backgroundGray:									#F2F4F4;

$atom-backgroundPrimary:								rgba(133,176,101,.09);
$atom-backgroundSecundary:								url(../img/bg/texture.png);
$atom-backgroundThird:                                  rgba(182,128,189,.08);