/*
|--------------------------------------------------------------------------
| colors
|--------------------------------------------------------------------------
*/
$atom-colorWhite:									#fff;
$atom-colorBlack:									#080808;
$atom-colorGray:									rgba(0,0,0,.6);

$atom-colorPrimary:									#BD8DC3;
$atom-colorSecundary:								#CC8706;
$atom-colorThird:									#85B065;
