/*
|--------------------------------------------------------------------------
| Shadows
|--------------------------------------------------------------------------
*/

$atom-boxShadow-primary: 			0 1px 1px 0 rgba(0,0,0,0.14);
$atom-boxShadow-secundary:			0 2px 1px -1px rgba(0,0,0,0.12);
$atom-boxShadow-third:				0 1px 3px 0 rgba(0,0,0,0.2);


$atom-textShadow-primary:           0 2px 4px rgba(0,0,0,0.5);