/*
|--------------------------------------------------------------------------
| Borders
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Lines
	|--------------------------------------------------------------------------
	*/
	$atom-borderSolid-thin:					0.5px solid;
	$atom-borderSolid-medium:				1px solid;
	$atom-borderSolid-none:					none;
	/*
	|--------------------------------------------------------------------------
	| Radius
	|--------------------------------------------------------------------------
	*/
	$atom-borderRadius-circle:			50%;
	$atom-borderRadius-btnSmall:		6px;
	$atom-borderRadius-btnMedium:		22px;
	$atom-borderRadius-btnBig:			30px;
	$atom-borderRadius-input:			5px;