/*
|--------------------------------------------------------------------------
| images
|--------------------------------------------------------------------------
*/
$atom-imageFullScreen:		100%;
$atom-imageBig: 			800px;
$atom-imageMedium: 			500px;
$atom-imageSmall:			450px;

$atom-imageVery-small:		300px;