/*
|--------------------------------------------------------------------------
| geometric figures
|--------------------------------------------------------------------------
*/
.molecule-trianguloSmall {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
}