.molecule-backgroundFull-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.molecule-maskBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($atom-backgroundBlack,0.7);
  top: 0;
  left: 0;
  z-index: 1;
  @media screen and (max-width: $atom-screen-sm-min) {
    background-color: rgba($atom-backgroundBlack,0.8);
  }
  > * {
    z-index: 2;
  }
}